<!doctype html>
<html lang="de">
    <head>
        <%- include("./includes/defhead.ejs") %>
        <title>Routenplaner</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./css/default.css">
    </head>
    <body>
        <%- include('./includes/header.ejs') %>
        <h2>404 - Seite nicht gefunden</h2>
        <%- include('./includes/nav.ejs') %>
        <%- include('./includes/footer.ejs') %>
    </body>

</html>
